body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
}
h2 {
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font-weight: 800;
	font-size: 36px;
	color: #333;
}
h3 {
	font-size: 20px;
	font-weight: 600;
	color: #333;
}
h4 {
	font-size: 18px;
	color: #333;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #608dfd;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #608dfd;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 20px;
	border: 0;
}
/* Navigation */
#menu {
	padding: 15px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #fff;
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 10px rgba(0,0,0,0.15)
}
#menu a.navbar-brand {
	font-family: 'FontKBFG';
	font-size: 24px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a {
	font-family: 'FontKBFG';
	text-transform: uppercase;
	color: #555;
	font-size: 15px;
	font-weight: 400;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 20px 0 20px;
	background-color: #fff;
}
#menu.navbar-default .navbar-nav > li > a:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	height: 2px;
	background: linear-gradient(to right, #FFBC00 0%, #FFBC00 100%);
	content: "";
	transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
	width: 100%;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	bottom: -1px !important;
	width: 100% !important;
	height: 2px !important;
	background: linear-gradient(to right, #FFBC00 0%, #FFBC00 100%) !important;
	content: "" !important;
	transition: width 0.2s !important;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
	border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #608dfd;
}
.section-title {
	margin-bottom: 70px;
}
.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.section-title h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #FFBC00 0%, #FFBC00 100%);
	height: 4px;
	width: 300px;
	bottom: 0;
	margin-left: -150px;
	left: 50%;
}
.section-title p {
	font-size: 18px;
}
.btn-custom {
	font-family: 'FontKBFG';
	text-transform: uppercase;
	color: #fff;
	background-color: #5ca9fb;
	background-image: linear-gradient(to right, #FFBC00 0%, #FFBC00 100%);
	padding: 14px 34px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	border-radius: 25px;
	transition: all 0.5s linear;
	border: 0;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-image: none;
	background-color: #6372ff;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(/static/img/pic/hub_1.jpg) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.5);
}
.intro h1 {
	font-family: 'FontKBFG';
	color: #fff;
	font-size: 1.7em;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
}
.intro h1 span {
	font-weight: 800;
	color: #5ca9fb;
}
.intro p {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	margin: 0 auto;
	margin-bottom: 60px;
}
#header .intro-text {
	padding-top: 350px;
	padding-bottom: 200px;
	text-align: center;
}
/* hub_div Section */
#hub_div {
	padding: 100px 0;
	background: #f6f6f6;
}
#hub_div i.fa {
	font-size: 38px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #fff;
	width: 100px;
	height: 100px;
	padding: 30px 0;
	border-radius: 50%;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}

#hub_div .counter-item h2 {
	color: #FFBC00;
	font-size: 60px;
	font-weight: 900;
}

#hub_div .counter-item h6 {
	color: #FFBC00;
	font-size: 16px;
	font-weight: 700;
	margin: 10px 0 0 0;
	text-transform: uppercase;
}

#hub_div .facebook {
	/*background: linear-gradient(to right, #AFE1FF 0%, #AFE1FF 100%);
	border-radius: 2%;*/
	padding: 15px 15px;
	text-align: left;
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  /*border-color: blue;
	border: 1px solid #6799FF;
	*/
}
#hub_div .face_link {
	color: black;
}




/* kbstarters Section */
#kbstarters {
	padding: 100px 0;
	background: linear-gradient(to right, #60584C 0%, #60584C 100%);
	color: #fff;
}
#kbstarters .service-desc {
	margin: 10px 10px 20px;
}
#kbstarters h2 {
	color: #fff;
}
#kbstarters .section-title h2::after {
	position: absolute;
	content: "";
	background: rgba(255,255,255,.3);
	height: 4px;
	width: 160px;
	bottom: 0;
	margin-left: -80px;
	left: 50%;
}
#kbstarters i.fa {
	font-size: 42px;
	width: 120px;
	height: 120px;
	padding: 40px 0;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	border-radius: 50%;
	color: #fff;
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
#kbstarters h3 {
	font-weight: 500;
	padding: 5px 0;
	color: #fff;
}
#kbstarters p {
	color: rgba(255,255,255,.75);
}
#kbstarters .service-desc {
	margin-bottom: 40px;
}





/* hubpartners Section */
#hubpartners {
	padding: 100px 0;
	background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 100%);
	color: #000;
}
#hubpartners .service-desc {
	margin: 10px 10px 20px;
}
#hubpartners h2 {
	color: #000;
}
#hubpartners .section-title h2::after {
	position: absolute;
	content: "";
	height: 4px;
	width: 200px;
	bottom: 0;
	margin-left: -100px;
	left: 50%;
}
#hubpartners i.fa {
	font-size: 42px;
	width: 120px;
	height: 120px;
	padding: 40px 0;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	border-radius: 50%;
	color: #000;
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
#hubpartners h3 {
	font-weight: 500;
	padding: 5px 0;
	color: #000;
}
#hubpartners p {
	color: rgba(0,0,0,.75);
}
#hubpartners .service-desc {
	margin-bottom: 40px;
}


/* program Section */
#program {
	padding: 100px 0;
	background: #f6f6f6;
}
#program h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}
#program h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#program h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #FFBC00 0%, #FFBC00 100%);
	margin-left: -100px;
	height: 4px;
	width: 200px;
	bottom: 0;
	left: 50%;



}
#program .about-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
}
#program .about-text li:before {
	content: '\f00c';
	color: #5ca9fb;
	font-size: 11px;
	font-weight: 300;
	padding-right: 8px;
}
#program img {
	width: 200px;
	margin-top: 10px;
	border-right: 0;

}
#program p {
	line-height: 24px;
	margin: 30px 0;
}





/* kbfaq Section */
#kbfaq {
	padding: 100px 0;
	background: linear-gradient(to right, #60584C 0%, #60584C 100%);
	color: #fff;
}
#kbfaq .service-desc {
	margin: 10px 10px 20px;
}
#kbfaq h2 {
	color: #fff;
}
#kbfaq .section-title h2::after {
	position: absolute;
	content: "";
	background: rgba(255,255,255,.3);
	height: 4px;
	width: 260px;
	bottom: 0;
	margin-left: -130px;
	left: 50%;
}
#kbfaq i.fa {
	font-size: 42px;
	width: 120px;
	height: 120px;
	padding: 40px 0;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	border-radius: 50%;
	color: #fff;
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
#kbfaq h3 {
	font-weight: 500;
	padding: 5px 0;
	color: #fff;
}
#kbfaq p {
	color: rgba(255,255,255,.75);
}
#kbfaq .service-desc {
	margin-bottom: 40px;
}
#kbfaq a {
	color: #fff;
}
#kbfaq .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
#kbfaq .nav > li > a:hover,
#kbfaq .nav > li > a:focus {
  text-decoration: none;
  background-color: #FFBC00;
	color: #60584C;
}

#kbfaq .nav-tabs > li.active > a,
#kbfaq .nav-tabs > li.active > a:hover,
#kbfaq .nav-tabs > li.active > a:focus {
  color: #60584C;
  cursor: default;
  background-color: #FFBC00;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}



/* contact Section */
#contact {
	padding: 100px 0;
	background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 100%);
	color: #000;
}
#contact .service-desc {
	margin: 10px 10px 20px;
}
#contact h2 {
	color: #000;
}
#contact .section-title h2::after {
	position: absolute;
	content: "";
	height: 4px;
	width: 160px;
	bottom: 0;
	margin-left: -80px;
	left: 50%;
}
#contact i.fa {
	font-size: 42px;
	width: 120px;
	height: 120px;
	padding: 40px 0;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	border-radius: 50%;
	color: #000;
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
#contact h3 {
	font-weight: 500;
	padding: 5px 0;
	color: #000;
}
#contact p {
	color: rgba(0,0,0,.75);
}
#contact .service-desc {
	margin-bottom: 40px;
}


.wrapper_kb {
  padding: 0 20px;
  max-width: 960px;
  margin: 0 auto;
}

.timeline {
  position: relative;
  padding-bottom: 10px;

}

.timeline:after{

}

.timeline-item {
  margin-top: 20px;
}

.timeline-item:after{
  content: ' ';
  position: absolute;
  left: 50%;
  background-color: #C7BBAD;
  top: -5px;
  bottom: 20px;
  width: 10px;
  border-radius: 5px;
  margin-left: -5px;
  z-index: 10;
}

.card {
  position: relative;
  background-color: #z;
  color: #60584C;
  padding: 0 20px 0px 20px;
  border-radius: 30px;
  text-align: center;
  border:5px solid #FFBC00;
  margin-bottom: 15px;
  z-index: 200;
}


.card-title {
  font-size: 4vw;
  font-weight: bold;
  line-height: 1;
  margin: 10px;
}

.card-definition {
  margin: 10px;
}

.card-definition dt {
  font-size: 2vw;
  margin-bottom: 5px;
}

.card-definition dt span {
  display: block;
  font-size: 0.5em;
}

@media ( min-width: 768px ) {
    .timeline:after {

    }
    .timeline-item {
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
      text-align: right;
    }
    .timeline-item:nth-child(even) {

    }
    .card {
      position: relative;
    }



    .card-title {
      font-size: 2vw;
      display: inline-block;
      position: relative;
    }
    .card-title:after {

    }

    .card-definition dt {
      font-size: 1.5vw;
      margin-bottom: 5px;
    }

    .timeline-item:nth-child(even) .card-icon {

    }
    .timeline-item:nth-child(even) .card-title:after {

    }
}






.hub_wrapper {
  padding: 0 20px;
  max-width: 960px;
  margin: 0 auto;
}

.hub_timeline {
  position: relative;
  padding-bottom: 10px;

}

.hub_timeline:after{

}

.hub_timeline-item {
  margin-top: 20px;
}

.hub_timeline-item:after{
  content: ' ';
  position: absolute;
  left: 50%;
  background-color: #C7BBAD;
  top: -5px;
  bottom: 20px;
  width: 10px;
  border-radius: 5px;
  margin-left: -5px;
  z-index: 10;
}

.hub_card {
  position: relative;
  background-color: #FFFFFF;
  color: #60584C;
  padding: 0 20px 0px 20px;
  border-radius: 30px;
  text-align: center;
  border:5px solid #FFBC00;
  margin-bottom: 15px;
  z-index: 200;
}


.hub_card-title {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  margin: 10px;
}

.hub_card-definition {
  margin: 10px;
}

.hub_card-definition dt {
  /*font-size: 1.1vw;*/
  margin-bottom: 5px;
}

.hub_card-definition dt span {
  display: block;
  font-size: 0.8em;
}
/*
@media ( min-width: 768px ) {
    .hub_timeline:after {

    }
    .hub_timeline-item {
      width: 100%;
      padding: 0 5px;
      box-sizing: border-box;
      text-align: right;
    }

    .hub_card {
      position: relative;
      padding: 0 5px 0px 5px;
      width: 50%;
    }

    .hub_card:nth-child(odd) {
      right: 10px;
    }

    .hub_card:nth-child(odd)::after {
      content: ' ';
      position: absolute;
      right: -10px;
      top: 50%;
      background-color: white;
      border: 6px solid #F38530;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      transform: translate(50%,-50%);
      background-color: #0a222b;
      z-index: 10;
    }

    .hub_card:nth-child(even) {
      margin-left: auto;
      right: -10px;
    }

    .hub_card:nth-child(even)::after {
      content: ' ';
      position: absolute;
      left: -23px;
      top: 50%;
      background-color: white;
      border: 6px solid #F38530;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      transform: translate(50%,-50%);
      background-color: #0a222b;
      z-index: 10;
    }

    .hub_card:nth-child(n+2) {
      margin-top: -50px;
    }

    .hub_card-title {
      font-size: 1.5vw;
      display: inline-block;
      position: relative;
    }
    .hub_card-title:after {

    }

    .hub_card-definition dt {
      font-size: 1vw;
      margin-bottom: 5px;
    }

    .hub_timeline-item:nth-child(even) .hub_card-icon {

    }
    .hub_timeline-item:nth-child(even) .hub_card-title:after {

    }
}
*/

/*margin padding*/
.marRn4{margin-right:-4px !important}
.marRn5{margin-right:-5px !important}
.marRn10{margin-right:-10px !important}
.marR15{margin-right:15px !important}
.marLn5{margin-left:-5px !important}
.marL0{margin-left:0 !important}
.marL4{margin-left:4px !important}
.marL10{margin-left:10px !important}
.marL24{margin-left:24px !important}
.marL435{margin-left:435px !important}
.marT0{margin-top:0px !important}
.marT10{margin-top:10px !important}
.marT11{margin-top:11px !important}
.marT12{margin-top:12px !important}
.marT14{margin-top:14px !important}
.marT20{margin-top:20px !important}
.marT21{margin-top:21px !important}
.marT23{margin-top:23px !important}
.marT24{margin-top:24px !important}
.marT25{margin-top:25px !important}
.marT26{margin-top:26px !important}
.marT30{margin-top:30px !important}
.marT31{margin-top:31px !important}
.marT32{margin-top:32px !important}
.marT33{margin-top:33px !important}
.marT35{margin-top:35px !important}
.marT43{margin-top:43px !important}
.marT45{margin-top:45px !important}
.marT47{margin-top:47px !important}
.marT49{margin-top:49px !important}
.marT50{margin-top:50px !important}
.marT53{margin-top:53px !important}
.marT54{margin-top:54px !important}
.marT56{margin-top:56px !important}
.marT59{margin-top:59px !important}
.marT60{margin-top:60px !important}
.marT62{margin-top:62px !important}
.marT63{margin-top:63px !important}
.marT68{margin-top:68px !important}
.marT70{margin-top:70px !important}
.marT72{margin-top:72px !important}
.marT74{margin-top:74px !important}
.marT75{margin-top:75px !important}
.marT80{margin-top:80px !important}
.marT85{margin-top:85px !important}
.marT87{margin-top:85px !important}
.marT95{margin-top:95px !important}
.marT96{margin-top:96px !important}
.marT101{margin-top:101px !important}
.marT106{margin-top:106px !important}
.marT113{margin-top:113px !important}
.marT114{margin-top:114px !important}
.marT116{margin-top:116px !important}
.marT129{margin-top:129px !important}
.marT133{margin-top:133px !important}
.marT137{margin-top:137px !important}
.marB23{margin-bottom:23px !important}
.marB24{margin-bottom:24px !important}
.marB25{margin-bottom:25px !important}
.marB30{margin-bottom:30px !important}
.marB37{margin-bottom:37px !important}
.marB48{margin-bottom:48px !important}
.marB58{margin-bottom:58px !important}
.marB59{margin-bottom:59px !important}
.marB60{margin-bottom:60px !important}
.padT117{padding-top:117px !important}
.padT130{padding-top:130px !important}
.padT150{padding-top:150px !important}
.padT188{padding-top:188px !important}



.carousel-control .chevron-left,
.carousel-control .chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  
}
.carousel-control .chevron-left {
  left: 50%;
  margin-left: -10px;
  content: '◁';
}
.carousel-control .chevron-right {
  right: 50%;
  margin-right: -10px;
}